*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.mtl
*.classpath
*.project
/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
/run/
usernamecache.json
*.stackdump

libs/CraftTweaker-Dev-Full-1\.11\.2-3\.0\.21\.24\.jar

secrets.json

changelog.md
